<div class="container">

    <h2 class="navpadding">Management Team</h2>

    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <div class="row">
        <div class="col-lg-2"></div>
            <div class="col-lg-4">
              <img class="img-circle" src="images/colin_profile.jpg" alt="Colin Platt" width="140" height="140">
              <h3>Colin Platt - Co-Founder</h3>
              <p>Colin has been involved in blockchain since 2013 and the financial markets since 2009.  Before founding ÐPactum he worked at BNP Paribas Global Markets blockchain innovation. Colin has sat on the steering committee for R3CEV, and Post-Trade Distributed Ledger Working Group (PTDL).</p>
              <p><a class="btn btn-default" href="https://uk.linkedin.com/in/colinplatt" target="_blank" role="button">LinkedIn &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img-circle" src="images/dave_profile.jpg" alt="David Acton" width="140" height="140">
              <h3>David Acton - Co-Founder</h3>
              <p>Dave brings nearly 20 years of software development expertise, including financial services development for BNP Paribas, Lloyds, Royal Bank of Scotland, and HBOS. He has also developed software in the travel and healthcare sectors.</p>
              <p><a class="btn btn-default" href="https://uk.linkedin.com/in/david-acton-14b32" target="_blank" role="button">LinkedIn &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div>
        
        <h2 class="navpadding">Our Advisors</h2>

        <div class="row">
        <div class="col-lg-2"></div>
            <div class="col-lg-4">
              <img class="img-circle" src="images/arnaud_profile.jpg" alt="Arnaud de Tregomain" width="140" height="140">
              <h3>Arnaud de Tregomain</h3>
              <p>Arnaud is Chief of Staff for BNP Paribas Global Markets, focussing on strategic projects for the business. He has also acted as Head of Business Development for Prime Services and Financing as well as Chief of Staff for Flow & Financing at BNP Paribas. Arnaud also brings experience from McKinsey & Co where he was an engagement manager specialised in Financial Services. Arnaud also acts as a Director to DPactum LTD.</p>
              <p><a class="btn btn-default" href="https://uk.linkedin.com/in/arnaud-de-tregomain-3b42462" target="_blank" role="button">LinkedIn &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img-circle" src="images/davidf_profile.jpg" alt="David Feltes" width="140" height="140">
              <h3>David Feltes</h3>
              <p>David is a seasoned Market Structure expert. He is currently the Chief Operating Officer at African Advisory Partners. Previously David worked at CME Group, where is last role was Chief Operating Officer for Europe.  David also brings experience from Oliver Wyman where he focussed on market structure & global exchanges. David has served as CEO for Marquette Partners, a Chicago based derivatives trading firm.   </p>
              <p><a class="btn btn-default" href="https://uk.linkedin.com/in/davefeltes" target="_blank" role="button">LinkedIn &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div>
        
    </div>
</div>