<!--

This form control needs to be wired up to send email.

-->

<div class="container">
    <div class="navpadding">
        <h2 class="text-left">Contact us</h2>
        <div class="row featurette">
            <div class="col-md-6">
                <div class="well-sm">
                    <div class="col-md-12">
                        <p class="marginpicture">Please contact us at: <a href="mailto:info@dpactum.com">info@dpactum.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <img class="featurette-image img-responsive center-block" src="images/city-night-evening-river.jpg" alt="city-night-evening-river">
            </div>
        </div>
    </div>
</div>


<style>
    .marginpicture {
        margin-top: 35px;
        line-height: 1.42857143;
    }
    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
</style>
    
