<div id="hiring-page" class="navpadding">
    <div class="container">
        <h2>We're Hiring!</h2>

        <div class="label label-info"><span class="glyphicon glyphicon-flash"></span> = BuzzWord Alert </div>

        <h3>Description</h3>
        <p>
            We are embarking on a 3 month project and we'd love your help.  You will get experience in Blockchain, DLT <span class="glyphicon glyphicon-flash"></span>
            (Distributed Ledger Technology) and with actual engaged clients.  What could be better?!
        </p>
        <p>Should you want to apply for the job, take the test here:  <a target="_blank" href="http://www.submitcode.online/challenge/dpactum-stemming">http://www.submitcode.online/challenge/dpactum-stemming</a></p>

        <p>If you have any questions, get in touch:  <a href="mailto:info@dpactum.com">info@dpactum.com</a></p>
        <h3>Details</h3>

        <ul>
            <li><span class="key">Location:</span> Central London</li>
            <li><span class="key">Length:</span> 12 weeks</li>
            <li><span class="key">Hype Word 1:</span> Blockchain (oooooooo)<span class="glyphicon glyphicon-flash"></span> <span class="glyphicon glyphicon-flash"></span> <span class="glyphicon glyphicon-flash"></span> <span class="glyphicon glyphicon-flash"></span> <span class="glyphicon glyphicon-flash"></span> </li>
            <li><span class="key">Hype Word 2:</span> Fintech (ahhhhhh)<span class="glyphicon glyphicon-flash"></span> <span class="glyphicon glyphicon-flash"></span> </li>
            <li><span class="key">Hype Word 3:</span> Startup (you had me at "hello world!")</li>
        </ul>
        <h3>Required Skills</h3>
        <ul>
            <li>Java 8 (or Java6 experience and above)</li>
            <li>Test Driven Development (JUnit, Mockito, etc)</li>
            <li>Gradle</li>
            <li>Cloud services experience (Azure / Amazon AWS etc.)</li>
            <li>Experience of working in an agile team (Scrum / KanBan etc.)</li>
            <li>HTML5 Frontend Experience (JavaScript, AngularJS etc.)</li>
            <li>GIT</li>
            <li>Continuous Integration (Jenkins, TeamCity)</li>
            <li>Knowledge of RESTful</li>
        </ul>
        <h3>Extra Points For</h3>
        <p>If you don't have these skills already, you'll get experience is some or all working with us.</p>
        <ul>
            <li>GoLang</li>
            <li>Docker</li>
            <li>AngularJS</li>
            <li>NodeJS</li>
            <li>Cryptography </li>
            <li>GRPC / ProtoBuf</li>
            <li>Web Service creation</li>
            <li>Using and Generating digital Certificates. (TLS/SSL, Digital Signing, Certificate Authorities) </li>
            <li>Attends Meetups</li>
            <li>Experience in presentations or training</li>
            <li>Mobile development</li>
        </ul>
    </div>
</div>
