
    
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AQNCzcv6vm9swAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAMSURBVAjXY3h45w4ABTsCmqXLIiAAAAAASUVORK5CYII=" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Did you know?</h1>
          <p>The ETD market exceeded $68 Trillion in June 2013 according to CME. This was roughly 10% of the size of the OTC derivatives market at the same time.</p>
          <p><a class="btn btn-lg btn-primary" href="http://www.cmegroup.com/education/files/derivatives-market-landscape.pdf" target="_blank" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AQNCzcv6vm9swAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAMSURBVAjXY3h45w4ABTsCmqXLIiAAAAAASUVORK5CYII=" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Blog: CCPs in Decentralised Blockchains</h1>
          <p>Read our latest post discussing CCPs can coexist with a blockchain.</p>
          <p><a class="btn btn-lg btn-primary" href="https://www.linkedin.com/pulse/central-counterparties-ccps-decentralised-blockchains-colin-platt" target="_blank" role="button">Read it</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AQNCzcv6vm9swAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAMSURBVAjXY3h45w4ABTsCmqXLIiAAAAAASUVORK5CYII=" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Clearing-as-a-Service.</h1>
          <p>We are building an innovative solution to clear exchange traded derivatives leveraging smart contract and blockchain technology.</p>
          <p><a class="btn btn-lg btn-primary" href="#contact" role="button">Get in touch</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- /.carousel -->

<div class="container">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Codicem meum <span class="text-muted">pactum</span></h2>
      <p class="lead">ÐPactum is building next generation solutions to clear and manage exchange traded financial derivatives leveraging smart contract and distributed ledger technologies.  Our aim is to reduce systemic risk, lower operating costs and collateral consumption for derivatives investors and dealers. </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="images/city-night-evening-river.jpg" alt="city-night-evening-river">
    </div>
  </div>
    
  <hr class="featurette-divider">
    
  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Driven <span class="text-muted">to reduce systemic risk</span></h2>
      <p class="lead">The financial markets are designed to manage risks across participants. What happens when the markets themselves become a major source of risk?</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="images/nyc_lb_building.jpg" alt="nyc_lb_building">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Derivatives clearing <span class="text-muted"> leveraging distributed ledger technology</span></h2>
      <p class="lead">Since 2009, a push by regulators around the globe has resulted a huge increase of derivatives clearing at central counterparties (CCPs).  This has forced substantial amounts of collateral in order to secure these derivatives. The result has been challenging for many financial institutions offering clearing to their clients.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="images/tradingFloorTab.jpg" alt="tradingFloorTab">
    </div>
  </div>

  <hr class="featurette-divider">

  


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2016 DPactum LTD &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</div><!-- /.container -->




