.key-value .key {
  font-weight: bold;
  padding: 3px;
}
.key-value .value {
  padding: 5px;
  background-color: #ececec;
  margin-left: 10px;
  min-height: 2em;
}
.heading {
  margin-top: 0;
  margin-bottom: 0;
}
.loading-screen {
  position: absolute;
  top: 0;
  width: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}
.loading-screen img {
  position: relative;
  top: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#logo-text {
  position: absolute;
  left: -1000px;
}
#logo-img {
  width: 200px;
  position: relative;
  top: -30px;
  left: -10px;
}
#email-link span.glyphicon {
  font-size: 20px;
}
#email-link span.link-text {
  padding-bottom: 10px;
}
.email-link {
  font-size: 25px;
}
.email-link span.glyphicon {
  top: 10px;
  right: 20px;
}
.key-value .glyphicon-ok-sign {
  color: green;
}
.key-value .glyphicon-ban-circle {
  color: red;
}

#home-page .tab-pane {
  padding: 20px;
  text-align: center;
}
.scroll-container {
  overflow: scroll;
  max-height: 300px;
}
.numeric {
  text-align: right;
}
.navpadding {
    margin-top: 110px;
}
